<h1 id="home_title">Create a new fitness room</h1>

<!-- <div class="panel panel-default"> -->
	<!-- <div class="panel-body"> -->
		<%= form_for @new_room do |f| %>
			<!-- <div class="panel-heading"> -->
				<h2 class="title">Room name: <%= f.text_field :name %></h2>
				<div id="create_btn"><%=f.submit%></div>
			<!-- </div> -->
		<% end %>
  <!-- </div> -->
<!-- </div> -->



